In [7]:
import pandas as pd
import numpy as np
left = pd.DataFrame({
 'id':[1,2,3,4,5],
 'Name': ['Tejas', 'TP', 'Abhi', 'Shekhar', 'Ketan'],
 'PRN':[112,130,122,102,95],
'subject_id':['sub1','sub2','sub4','sub6','sub5']})
print(left)

   id     Name  PRN subject_id
0   1    Tejas  112       sub1
1   2       TP  130       sub2
2   3     Abhi  122       sub4
3   4  Shekhar  102       sub6
4   5    Ketan   95       sub5

In [8]:
right = pd.DataFrame({
 'id':[1,2,3,4,5],
 'Name': ['Tushar', 'Yogesh', 'Shubham', 'Kartik', 'Prathmesh'],
 'PRN':[98,105,116,135,125],
'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(right)

   id       Name  PRN subject_id
0   1     Tushar   98       sub2
1   2     Yogesh  105       sub4
2   3    Shubham  116       sub3
3   4     Kartik  135       sub6
4   5  Prathmesh  125       sub5

In [9]:
print(pd.merge(left,right,on='id'))

   id   Name_x  PRN_x subject_id_x     Name_y  PRN_y subject_id_y
0   1    Tejas    112         sub1     Tushar     98         sub2
1   2       TP    130         sub2     Yogesh    105         sub4
2   3     Abhi    122         sub4    Shubham    116         sub3
3   4  Shekhar    102         sub6     Kartik    135         sub6
4   5    Ketan     95         sub5  Prathmesh    125         sub5

In [10]:
print(pd.merge(left,right,on=['id','PRN']))

Empty DataFrame
Columns: [id, Name_x, PRN, subject_id_x, Name_y, subject_id_y]
Index: []

In [11]:
print(pd.merge(left,right,on=['id','subject_id']))

   id   Name_x  PRN_x subject_id     Name_y  PRN_y
0   4  Shekhar    102       sub6     Kartik    135
1   5    Ketan     95       sub5  Prathmesh    125

In [12]:
print(pd.merge(left, right, on='subject_id', how='left'))

   id_x   Name_x  PRN_x subject_id  id_y     Name_y  PRN_y
0     1    Tejas    112       sub1   NaN        NaN    NaN
1     2       TP    130       sub2   1.0     Tushar   98.0
2     3     Abhi    122       sub4   2.0     Yogesh  105.0
3     4  Shekhar    102       sub6   4.0     Kartik  135.0
4     5    Ketan     95       sub5   5.0  Prathmesh  125.0

In [13]:
print(pd.merge(left, right, on='subject_id', how='right'))

   id_x   Name_x  PRN_x subject_id  id_y     Name_y  PRN_y
0   2.0       TP  130.0       sub2     1     Tushar     98
1   3.0     Abhi  122.0       sub4     2     Yogesh    105
2   NaN      NaN    NaN       sub3     3    Shubham    116
3   4.0  Shekhar  102.0       sub6     4     Kartik    135
4   5.0    Ketan   95.0       sub5     5  Prathmesh    125

In [14]:
print(pd.merge(left, right, on='subject_id', how='outer'))

   id_x   Name_x  PRN_x subject_id  id_y     Name_y  PRN_y
0   1.0    Tejas  112.0       sub1   NaN        NaN    NaN
1   2.0       TP  130.0       sub2   1.0     Tushar   98.0
2   3.0     Abhi  122.0       sub4   2.0     Yogesh  105.0
3   4.0  Shekhar  102.0       sub6   4.0     Kartik  135.0
4   5.0    Ketan   95.0       sub5   5.0  Prathmesh  125.0
5   NaN      NaN    NaN       sub3   3.0    Shubham  116.0

In [15]:
print(pd.merge(left, right, on='subject_id', how='inner'))

   id_x   Name_x  PRN_x subject_id  id_y     Name_y  PRN_y
0     2       TP    130       sub2     1     Tushar     98
1     3     Abhi    122       sub4     2     Yogesh    105
2     4  Shekhar    102       sub6     4     Kartik    135
3     5    Ketan     95       sub5     5  Prathmesh    125